<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Create New Role Info</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      
                        <div class="form-group col-md-3">
                          <div class="row">
                            <div class="col-sm">
                                <label for="poroPrefix">Role:</label>
                                <input type="text" [(ngModel)]="role.roleName" placeholder="Enter role" name="role" class="form-control" id="role">
                            </div>
                          </div>   
                        </div>
                        <div class="form-group col-md-5">
                            <div class="row">
                              <div class="col-sm">
                                  <label for="poroPrefix">Status:</label><br/>
                                  <p-dropdown [style]="{'width': '285px'}" [options]="roleStatus"   [ngModelOptions]="{standalone: true}"  [(ngModel)]="role.status" name="Status"></p-dropdown>
                              </div>
                            </div>   
                        </div>
                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                            <button class="btn btn-sm  btn-info" (click)="createRole()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="role.r_id" (click)="updateRole(role) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="role.r_id" (click)="deleteRole(role)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <app-role-info></app-role-info>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>
