<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p-table #menuAssigndedToRoleId  [columns]="cols" [value]="menuAssigndedToRoleInfos" [paginator]="true" [rows]="3"  >
              <ng-template pTemplate="caption">
                Menu Assigned to Role Data
                <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="reloadPage()">
                  <span class="fa fa-refresh" aria-hidden="true"></span> 
                </button>
               
              </ng-template> 
            <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        {{col.header}}
                        <input  pInputText type="text"
                        (input)="menuAssigndedToRoleId.filter($event.target.value, col.field, 'contains')" />
                        
                      </th>
                      <th >
                        Edit
                    </th>
  
                  </tr>
              </ng-template>
             
              <ng-template pTemplate="body" let-menuAssignedToRole let-columns="columns">
                  <tr>
                      <td *ngFor="let col of columns"  >
                        <div *ngIf="col.field === 'm_id'">{{  parentMenuPath.get(menuAssignedToRole[col.field]) }}</div>
                        <!-- <div  *ngIf="(col.field === 'r_id')" >{{ roleSet.get(menuAssignedToRole[col.field]) }}</div> -->
                        <div *ngIf="!(col.field === 'm_id' )" >{{ menuAssignedToRole[col.field] }}</div>
                          
                      </td>
                      <td>
                        <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="editMenuAssignedToRole(menuAssignedToRole)">
                            <span class="fa fa-edit" aria-hidden="true"></span> 
                        </button>
                      </td>
                      
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td [attr.colspan]="columns.length">
                          No records found
                      </td>
                      <td></td>
                  </tr>
              </ng-template>
          </p-table>
          </div>
        </div>
    </div>
  </div>