<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Create New Category</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                     
                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="component">Name</label><br>
                          <input type="text" [(ngModel)]="category.name" placeholder="Name" name="component" class="form-control" >
                        </div>
                        <div class="col-sm">
                          <label for="module">Description</label><br>
                          <textarea type="text" [(ngModel)]="category.description" placeholder="Description" name="module" class="form-control">
                          </textarea>  
                        </div>
                      </div>   
                  </div>
                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
            
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                            <button class="btn btn-sm  btn-info" *ngIf="!category.id" (click)="create()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="category.id" (click)="update(category) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="category.id" (click)="delete(category)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <app-category-info></app-category-info>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>
