<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Create New Menu Info</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      
                        <div class="form-group col-md-6">
                          <div class="row">
                            <div class="col-sm">
                                <label for="poroPrefix">Menu:</label>
                                <input type="text" [(ngModel)]="menu.menuName" placeholder="Enter Menu" name="menu" class="form-control" id="menu">
                            </div>
                            <div class="col-sm">
                              <label for="parentMenuId">Parent Menu</label><br>
                              <p-dropdown [style]="{'width': '285px'}"  filter="true" [options]="selectedmenu"  [ngModelOptions]="{standalone: true}" [(ngModel)]="menu.parentMenuId"  name="parentMenuId" id = "parentMenuId"></p-dropdown>
                            </div>
                          </div>   
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row">
                              <div class="col-sm">
                                <label for="url">URL</label><br>
                                <input type="text" [(ngModel)]="menu.url" placeholder="Enter url" name="url" class="form-control" id="url">
                              </div>
                              <div class="col-sm">
                                <label for="icon">ICON</label><br>
                                <input type="text" [(ngModel)]="menu.icon" placeholder="Enter icon" name="icon" class="form-control" id="icon">
                              </div>
                            </div>   
                        </div>
                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="component">COMPONENT</label><br>
                          <input type="text" [(ngModel)]="menu.component" placeholder="Enter Component" name="component" class="form-control" id="component">
                        </div>
                        <div class="col-sm">
                          <label for="module">MODULE</label><br>
                          <input type="text" [(ngModel)]="menu.module" placeholder="Enter Module" name="module" class="form-control" id="module">
                        </div>
                      </div>   
                  </div>
                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
            
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                            <button class="btn btn-sm  btn-info" *ngIf="!menu.m_id" (click)="createMenu()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="menu.m_id" (click)="updateMenu(menu) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="menu.m_id" (click)="deleteMenu(menu)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <app-menu-info></app-menu-info>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>
