<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/dashboard" class="brand-link">
    <img src="assets/images/logo.png" alt="DU Logo" class="brand-image" style="opacity: .8">
    <span class="brand-text font-weight-light">OBSS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <!-- <div class="image">
        <img *ngIf="!user.img_url"  class="profile-user-img img-fluid img-fluid"
        src="assets/images/user.png"
        alt="User profile picture">
        <img *ngIf="user.img_url" class="profile-user-img img-fluid img-fluid" src="data:image/jpeg;base64,{{user.image}}" [width]="70" [height]="100" alt="User profile picture" />
      
      </div> -->
      <div class="info">
        <a href="#" class="d-block">{{user.userName}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2" >
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
       <span *ngFor="let menu of menus" > 
        <!-- <li *ngIf="!menu.children" class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="'../'+menu.url"  class="nav-link">
            <i class="nav-icon fas fa-anchor"></i>
            <p>
              {{ menu.menuName }}
            </p>
          </a>
        </li> -->
        <li  class="nav-item has-treeview" [routerLinkActive]="['menu-open', 'active']">
          <a [routerLink]="'../'+menu.url"   class="nav-link">
            <!-- <i  class="nav-icon fas fa-anchor"></i> -->
            <i  class="{{menu.icon }}"></i>&nbsp;
            <p>
              <!-- {{ category.title }} -->
              {{ menu.menuName }}
              <i *ngIf="menu.children" class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul *ngFor="let submenu of menu.children" class="nav nav-treeview"  >
            <li  class="nav-item has-treeview"  [routerLinkActive]="['menu-open']" >
              <a [routerLink]="'../'+submenu.url"  class="nav-link  ">
                <i  class=" {{submenu.icon }}"></i>
                <p>
                  {{ submenu.menuName }}
                  <i *ngIf="submenu.children"  class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" *ngFor="let submenuchild of submenu.children">
                <li class="nav-item" >
                  <a  [routerLink]="'../'+submenuchild.url"  class="nav-link" [routerLinkActive]="['active']"  >
                    <i   class=" {{submenuchild.icon }}"></i>
                   <p>{{ submenuchild.menuName }} </p>
                  </a>
                </li>
              </ul>
              </li>
            </ul>
          </li>
        </span>
      </ul>

    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
  <p-toast key="toast"></p-toast>
</aside>