
<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
          <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-primary">
                <div class="card-header">
                      <h3 class="card-title">Menu assigned to role</h3>
                </div>
                <form #f="ngForm" name="myForm">
                  <div class="card-body">
                    
                    

                      <div class="form-group col-md-7">
                        <div class="row">
                          <div class="col-sm">
                              <label for="parentMenuId">Choose Menu</label> <br>
                              <p-dropdown filter="true" [options]="selectedmenu" [(ngModel)]="menuAssigndedToRole.m_id" [ngModelOptions]="{standalone: true}" name="menuId" id = "menuId"></p-dropdown>     
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-sm">
                            <span style="color:#fff;background-color: #117a8b;border-color: #10707f">{{parentMenuPath.get(menuAssigndedToRole.m_id)}}</span>
                           
                          </div>
                          
                        </div>   
                      </div>
                      <div class="form-group col-md-7">
                          <div class="row">
                            <div class="col-sm">
                              <label for="roleId">Choose Role</label><br>
                              <p-dropdown filter="true" [options]="selectedrole" [(ngModel)]="menuAssigndedToRole.r_id" [ngModelOptions]="{standalone: true}" name="roleId" id = "roleId"></p-dropdown>
                            </div>
                          </div>   
                      </div>
                  </div>
                  <div class="card-footer"> 
                      <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                      <tr>
                        <div style="float:left; padding: 10px;">
                          <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->

                          <button class="btn btn-sm  btn-info" (click)="createMenu()"><b>Create</b></button>&nbsp;
                          <button class="btn btn-sm btn-info" *ngIf="menuAssigndedToRole.id" (click)="updateMenuAssignedToRole(menuAssigndedToRole) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="menuAssigndedToRole.id" (click)="deleteMenuAssignedToRole(menuAssigndedToRole)"><b>Delete</b></button>&nbsp;
                          <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                        </div>
                        
                        
                      </tr>
                      
                  </div>
                </form>
              </div>
          </div>
      </div>
      <app-menu-assigned-to-role></app-menu-assigned-to-role>
  </div>
      
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>
