<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper">
        <section class="content-header">
          <section class="content">
<div class="card">
    <p-table #dt [value]="customers"  [(selection)]="selectedCustomers"  styleClass="p-datatable-customers" [rowHover]="true"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="dtSelectedRows"
        [filterDelay]="0" 
        >
        <ng-template pTemplate="caption">
            <div class="table-header">
                List of Users
                <span class="p-input-icon-left">
                    <!-- <i class="pi pi-search"></i> &nbsp; -->
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                </span>
            </div>
        </ng-template>
   <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="userName">Name <p-sortIcon field="userName"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                <th pSortableColumn="nid">NID <p-sortIcon field="nid"></p-sortIcon></th>
                <th style="width: 8rem"></th>
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'userName', 'startsWith')" placeholder="Search by userName" class="p-column-filter">
                </th>
                 <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')" placeholder="Search by Email" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'phone', 'contains')" placeholder="Search by Phone" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'nid', 'contains')" placeholder="Search by NID" class="p-column-filter">
                </th>
                <th></th>
            </tr>
        </ng-template> 
        <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td>
                <td>
                    <span class="p-column-title">{{customer.userName}}</span>
                    
                </td>
                <td>
                    <span class="p-column-title">{{customer.email}}</span>
                </td>
                <td>
                    <span class="p-column-title">{{customer.phone}}</span>
      
                </td>
                <td>
                    <span class="p-column-title">{{customer.nid}}</span>
                </td>
               
                <td>
                    <p-menubar [model]="items"></p-menubar>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>