<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 *ngIf="!show" >My Profile</h1>
            <h1 *ngIf="show" >{{user.userName}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img *ngIf="!user.img_url" class="profile-user-img img-fluid img-circle" src="assets/images/user.png"
                    alt="User profile picture">
                  <img *ngIf="user.img_url" class="profile-user-img img-fluid img-circle"
                    src="data:image/jpeg;base64,{{user.image}}" [width]="70" [height]="100"
                    alt="User profile picture" />


                </div>

                <h3 class="profile-username text-center">{{user.userName}}</h3>

                <p class="text-muted text-center">{{user.designation}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">1,322</a>
                  </li>
                  <li class="list-group-item">
                    <b>Following</b> <a class="float-right">543</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fa fa-book mr-1"></i> Education</strong>

                <p class="text-muted">
                  {{user.education}}
                </p>

                <hr>

                <strong><i class="fa fa-map-marker mr-1"></i> Location</strong>

                <p class="text-muted">{{user.address}}</p>


                <hr>

                <strong><i class="fa fa-phone mr-1"></i> Phone</strong>

                <p class="text-muted">{{user.phone}}</p>


                <hr>

                <strong><i class="fa fa-file-text-o mr-1"></i> Notes</strong>

                <p class="text-muted">{{user.notes}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">My Library</a></li>
                  <li *ngIf="!show" class="nav-item"><a class="nav-link" href="#approval" data-toggle="tab">Approval</a>
                  </li>
                  <li *ngIf="!show" class="nav-item"><a class="nav-link" href="#return" data-toggle="tab">Return</a>
                  </li>
                  <li *ngIf="!show" class="nav-item"><a class="nav-link" href="#claim" data-toggle="tab">Claim</a>
                  </li>
                  <li  class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Review</a></li>
                  <li *ngIf="!show" class="nav-item"><a class="nav-link" (click)="editUser(user)" href="#settings"
                      data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="card">
                      <div class="post">
                        <button type="button" *ngIf="!show" (click)="openBookModal()" class="btn btn-danger px-3 "><i
                            style="margin-right: 5px;" class="fa fa-book" aria-hidden="true"></i>Add Book</button>
                        <!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <button type="button" (click)="searchBook()" >Search</button> -->
                      </div>
                      <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                          <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search..."
                              (keyup)="dv.filter($event.target.value)">
                            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                          </div>
                        </div>
                      </div>

                      <p-dataView #dv [value]="books" [paginator]="true" [rows]="3" filterBy="bookName" layout="grid">
                        <ng-template let-product pTemplate="gridItem">

                          <div class="p-col-12 p-md-4">
                            <div class="product-grid-item card">
                              <div class="product-grid-item-content">
                                <div>
                                  <img src="data:image/jpeg;base64,{{product.image}}" [width]="70" [height]="100" />
                                </div>
                                <span class="product-category"><b>{{product.bookName}}</b></span>
                                <div class="product-description">
                                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                                  <b> About: </b>{{product.description}}
                                </div>
                                <div class="product-description">
                                  <i class="fa fa-bookmark" aria-hidden="true"></i>
                                  <b> Category: </b>{{product.category}}
                                </div>
                                <div class="product-description">
                                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                                  <b> Status: </b>{{product.status}} 
                                </div>
                                <button
                                  *ngIf="(bookStatus.get(product.id)==3 || bookStatus.get(product.id)==4|| bookStatus.get(product.id)==5)   && show"
                                  class="btn btn-sm btn-danger " (click)="request(product) ">
                                  <i class="fa fa-edit"></i>
                                  <b> Request</b></button>&nbsp;
                                <button *ngIf="bookStatus.get(product.id)==1" class="btn btn-sm btn-success ">
                                  <i class="fa fa-edit"></i>
                                  <b> Requested</b></button>&nbsp;
                                <button *ngIf="bookStatus.get(product.id)==2" class="btn btn-sm btn-success ">
                                  <i class="fa fa-edit"></i>
                                  <b> Approved</b></button>&nbsp;
                                <button *ngIf="!show" class="btn btn-sm btn-success " (click)="update(product) ">
                                  <i class="fa fa-edit"></i>
                                  <b> Update</b></button>&nbsp;
                                <button *ngIf="!show" class="btn btn-sm btn-info " (click)="delete(product)">
                                  <i class="fa fa-trash"></i>
                                  <b> Delete</b></button>&nbsp;
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </p-dataView>
                    </div>


                  </div>
                  <!-- /.tab-pane -->

                  <div class=" tab-pane" id="approval">
                    <!-- Post -->
                    <div class="card">

                      <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                          <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search..."
                              (keyup)="dv4.filter($event.target.value)">
                            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                          </div>
                        </div>
                      </div>

                      <p-dataView #dv4 [value]="reqBooks" [paginator]="true" [rows]="3" filterBy="book_name"
                        layout="grid">
                        <ng-template let-reqBook pTemplate="gridItem">

                          <div class="p-col-12 p-md-4">
                            <div class="product-grid-item card">
                              <div class="product-grid-item-content">
                                <div>
                                  <img src="data:image/jpeg;base64,{{reqBook.bookimg}}" [width]="70" [height]="100" />
                                </div>
                                <span class="product-category"><b>{{reqBook.book_name}}</b></span>
                                <div class="product-description">
                                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                                  <b> Requester: </b>
                                  <button class="btn btn-sm btn-info "
                                    (click)="showUser(reqBook.uId)">{{reqBook.user_name}}</button>

                                </div>
                                <div class="product-description">
                                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                                  <b> ADDRESS: </b> {{reqBook.address}}
                                  <b> PHONE: </b> {{reqBook.phone}}
                                  </div>
                                
                                <div class="product-description">
                                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                                  <b> Status: </b>{{reqBook.status}}
                                </div>
                                <button *ngIf="reqBook.status==='request'" class="btn btn-sm btn-success "
                                  (click)="approve(reqBook) ">
                                  <i class="fa fa-edit"></i>
                                  <b> Approve</b></button>&nbsp;
                                <button *ngIf="reqBook.status==='request'" class="btn btn-sm btn-danger "
                                  (click)="reject(reqBook)">
                                  <i class="fa fa-edit"></i>
                                  <b> Reject</b></button>&nbsp;
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </p-dataView>
                    </div>


                  </div>

                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div *ngIf="rev" class="card card-solid">
                      <div class="card-body pb-0">
                        <div class="card bg-light">
                          <div  class="form-group">
                            <div class="row">
                              <div class="col-sm-10">
                                <textarea class="form-control" [(ngModel)]="gaveReview.review" name="review"
                                  placeholder="Comment"></textarea>
                              </div>

                            </div>
                            <div class="row">
                              <div class="col-sm-10">
                                <ngb-rating [max]="5" [(rate)]="currentRate" [(ngModel)]="gaveReview.rating" [readonly]="false"></ngb-rating>
                              </div>
                            </div>

                            <button  class="btn btn-sm btn-success "
                                  (click)="givereview(gaveReview) ">
                                  <i class="fa fa-edit"></i>
                                  <b> Review</b></button>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-solid">
                      <div class="card-body pb-0">
                        <div class="row d-flex align-items-stretch">
                          <!-- <p-dataView #dv [value]="books" [paginator]="true" [rows]="3"  filterBy="bookName" 
                           layout="grid"> -->
                          <!-- <div *ngIf="reviews.length==0">
                            No Reviews found
                        </div> -->
                          <div *ngFor="let rev of reviews" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                              <div class="card-header text-muted border-bottom-0">
                                <b>Review</b>
                              </div>
                              <div class="card-body pt-0">
                                <div class="row">
                                  <div class="col-12">
                                    <div>
                                      <img src="data:image/jpeg;base64,{{rev.image}}" [width]="70" [height]="100" />
                                    </div>
                                    <!-- <h2 class="lead"><b> {{rev.reviewerName}}</b></h2> -->
                                    <p class="text-muted text-sm"><b>Reviewer: </b>
                                      <button class="btn btn-sm btn-info " (click)="showUser(rev.reviewer)">
                                        {{rev.reviewerName}} </button> </p>

                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                      <li class="small"><span class="fa-li"><i class="fa fa-lg fa-building"></i></span>
                                        {{rev.review}}</li>
                                      <li class="small"><span class="fa-li"><i class="fa fa-lg fa-star"></i></span>
                                        {{rev.rating}} </li>
                                      <li class="small"><span class="fa-li"><i
                                            class="fa fa-lg fa-calendar"></i></span>on {{rev.reviewDate}} </li>
                                    </ul>
                                  </div>

                                </div>
                              </div>

                            </div>

                          </div>

                          <!-- </p-dataView> -->
                        </div>
                      </div>

                    </div>

                    <p-paginator [rows]="3" [totalRecords]="totalRev" (onPageChange)="onPageChange($event)">
                    </p-paginator>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">User Name</label>

                        <div class="col-sm-10">

                          <input type="text" class="form-control" [(ngModel)]="updatedUser.userName" name="name"
                            placeholder="UserName">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="userId" class="col-sm-2 control-label">User Id</label>

                        <div class="col-sm-10">
                          <input type="text" class="form-control" [(ngModel)]="updatedUser.userId" name="userId"
                            placeholder="UserId">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                          <input type="text" class="form-control" [(ngModel)]="updatedUser.email" name="email"
                            placeholder="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone</label>

                        <div class="col-sm-10">
                          <input type="text" class="form-control" [(ngModel)]="updatedUser.phone" name="phone"
                            placeholder="phone">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="nid" class="col-sm-2 control-label">NID</label>

                        <div class="col-sm-10">
                          <input type="text" class="form-control" [(ngModel)]="updatedUser.nid" name="nid"
                            placeholder="nid">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Address</label>

                        <div class="col-sm-10">
                          <textarea class="form-control" [(ngModel)]="updatedUser.address" name="address"
                            placeholder="Address"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="education" class="col-sm-2 control-label">Education</label>

                        <div class="col-sm-10">
                          <textarea class="form-control" [(ngModel)]="updatedUser.education" name="education"
                            placeholder="Education"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="designation" class="col-sm-2 control-label">Designation</label>

                        <div class="col-sm-10">
                          <input type="text" class="form-control" [(ngModel)]="updatedUser.designation"
                            name="designation" placeholder="designation">
                        </div>
                      </div>
                      <div class="form-group  col-md-10">
                        <label for="exampleInputFile">Profile Picture</label>
                        <div class="row">
                          <div class="col-sm">
                            <img *ngIf="!user.img_url" class="profile-user-img img-fluid img-fluid"
                              src="assets/images/user.png" alt="User profile picture">
                            <img *ngIf="updatedUser.img_url" class="profile-user-img img-fluid img-fluid"
                              src="data:image/jpeg;base64,{{updatedUser.image}}" [width]="70" [height]="100"
                              alt="User profile picture" />
                          </div>
                        </div>
                        <br>
                        <div *ngIf="!user.img_url"  class="form-group  col-md-6">
                          <div class="row">
                            <div class="col-sm">
                              <input type="file" name="files" class="custom-file-input exampleInputFile"
                                accept=".jpg,.JPEG,.JPG,.PNG" (change)="selectFile($event)">
                              <label class="custom-file-label" id="fileLabel" for="exampleInputFile">Choose
                                Picture</label>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button *ngIf="!show" type="button" (click)="updateUser()" class="btn btn-danger px-3">
                            <i style="margin-right: 5px;" class="fa fa-user" aria-hidden="true"></i>Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class=" tab-pane" id="return">
                    <!-- Post -->
                    <div class="card">

                      <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                          <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search..."
                              (keyup)="dv2.filter($event.target.value)">
                            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                          </div>
                        </div>
                      </div>

                      <p-dataView #dv2 [value]="toBeRetBooks" [paginator]="true" [rows]="3" filterBy="book_name"
                        layout="grid">
                        <ng-template let-retBook pTemplate="gridItem">

                          <div class="p-col-12 p-md-4">
                            <div class="product-grid-item card">
                              <div class="product-grid-item-content">
                                <div>
                                  <img src="data:image/jpeg;base64,{{retBook.bookimg}}" [width]="70" [height]="100" />
                                </div>
                                <span class="product-category"><b>{{retBook.book_name}}</b></span>
                               

                                <div class="product-description">
                                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                                  <b> Owner: </b>
                                  <button class="btn btn-sm btn-info " (click)="showUser(retBook.owner)">
                                    {{retBook.user_name}}
                                  </button>
                                </div>

                                <div class="product-description">
                                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                                  <b> Status: </b>{{retBook.status}}
                                </div>
                                <button *ngIf="retBook.status==='approved'" class="btn btn-sm btn-success "
                                  (click)="return(retBook) ">
                                  <i class="fa fa-edit"></i>
                                  <b> Return</b></button>&nbsp;
                                
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </p-dataView>
                    </div>
                  </div>
                  <div class=" tab-pane" id="claim">
                    <!-- Post -->
                    <div class="card">

                      <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                          <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search..."
                              (keyup)="dv3.filter($event.target.value)">
                            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                          </div>
                        </div>
                      </div>
                      <p-dataView #dv3 [value]="toClaimBooks" [paginator]="true" [rows]="3" filterBy="book_name"
                        layout="grid">
                        <ng-template let-claimBook pTemplate="gridItem">

                          <div class="p-col-12 p-md-4">
                            <div class="product-grid-item card">
                              <div class="product-grid-item-content">
                                <div>
                                  <img src="data:image/jpeg;base64,{{claimBook.bookimg}}" [width]="70" [height]="100" />
                                </div>
                                <span class="product-category"><b>{{claimBook.book_name}}</b></span>
                               

                                <div class="product-description">
                                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                                  <b> Requester: </b>
                                  <button class="btn btn-sm btn-info " (click)="showUser(claimBook.requester)">
                                    {{claimBook.user_name}}
                                  </button>
                                </div>

                                <div class="product-description">
                                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                                  <b> Status: </b>{{claimBook.status}}
                                </div>
                                <button *ngIf="claimBook.status==='approved'" class="btn btn-sm btn-success "
                                  (click)="claim(claimBook) ">
                                  <i class="fa fa-edit"></i>
                                  <b> Claim</b></button>&nbsp;
                                
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </p-dataView>

                    </div>


                  </div>

                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->


  </div>



  <app-footernavbar></app-footernavbar>
</div>
<!--- Add Book Modal-->

<p-dialog position="center" [style]="{width: '50vw'}" header="{{book.id?'Update Book':'Add Book'}}"
  [(visible)]="openAddBook">
  <div style="margin-left: 15%;" class="card-body">
    <div class="form-group">
      <img class="imageShow" *ngIf="book.image" src="data:image/jpeg;base64,{{book.image}}" [width]="70"
        [height]="100" />
      <label for="exampleInputFile">File input</label>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" name="files" class="custom-file-input exampleInputFile" accept=".jpg,.JPEG,.JPG,.PNG"
            (change)="selectFile($event)">
          <label class="custom-file-label" id="fileLabel" for="exampleInputFile">Choose file</label>
        </div>

      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm">
          <label for="component">Name</label><br>
          <input type="text" [(ngModel)]="book.bookName" placeholder="Book Name" name="component" class="form-control">
        </div>

      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm">
          <label for="category">Category</label><br>
          <p-dropdown [options]="selectedCategory" [ngModelOptions]="{standalone: true}" [(ngModel)]="book.bookCategory"
            name="category"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm">
          <label for="writer">Writer</label><br>
          <p-dropdown [options]="selectedWriter" [ngModelOptions]="{standalone: true}" [(ngModel)]="book.writer"
            name="writer"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-sm">
          <label for="component">Version</label><br>
          <input type="text" [(ngModel)]="book.bookVersion" placeholder="Book Name" name="component"
            class="form-control">
        </div>
        <div class="col-sm">
          <label for="component">ISSN</label><br>
          <input type="text" [(ngModel)]="book.issn" placeholder="Book Name" name="component" class="form-control">
        </div>

      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-lg">
          <label for="status">Status</label><br>
          <p-dropdown [options]="selectedStatus" [ngModelOptions]="{standalone: true}" [(ngModel)]="book.status"
            name="status"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-lg">
          <label for="module">Description</label><br>
          <textarea type="text" [(ngModel)]="book.description" placeholder="Description" name="module"
            class="form-control">
          </textarea>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-lg" style="margin-left: 30%;">
          <button type="button" (click)="saveBook()" class="btn btn-success px-3">
            <i style="margin-right: 5px;" class="fa fa-book" aria-hidden="true"></i>{{book.id?'Update':'Save'}}</button>
        </div>

      </div>
    </div>
  </div>
</p-dialog>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>