<footer class="main-footer">
  <strong>Copyright &copy; 2019-2020 <a href="https://www.du.ac.bd//">UNIVERSITY OF DHAKA</a>.</strong>
  
  <div class="float-right d-none d-sm-inline-block">
    <b> Developed By: IIT, UNIVERSITY OF DHAKA</b>
  </div>
  
</footer>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

