<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Create New User</h3>
                      </div>
                      <form #myForm="ngForm" name="myForm"  >
                        <div class="card-body">
                          
                            <div class="form-group col-md-6">
                              <div class="row">
                                <div class="col-sm">
                                    <label for="fristName" class="required">User ID:</label>
                                    <input [(ngModel)]="user.userId" *ngIf="!user.Id"  placeholder="User ID" name="userID" class="form-control" id="userid" (focusout) = "focusoutHandler($event)">
                                    <input [(ngModel)]="user.userId" *ngIf="user.Id" disabled  placeholder="User ID" name="userID" class="form-control" id="userid" (focusout) = "focusoutHandler($event)">
                                 </div>
                                 <div class="col-sm">
                                    <label for="fristName" class="required">User Name:</label>
                                    <input [(ngModel)]="user.userName"  placeholder="User Name" name="userName" class="form-control" id="username" (focusout) = "focusoutHandlerUserName($event)">
                                 </div>
                              </div>   
                            </div>

                            <div class="form-group col-md-6">
                                <div class="row">
                                  <div class="col-sm">
                                      <label for="fristName" class="required">Password:</label>
                                      <input [(ngModel)]="user.password" type="password" placeholder="Password" name="password" class="form-control" id="password" (focusout) = "focusoutHandlerPassword($event)">
                                   </div>
                                   
                                </div>   
                            </div>

                            <div class="form-group col-md-6">
                                <div class="row">
                                  <div class="col-sm">
                                      <label for="userstatus" class="required">User Status:</label><br/>
                                      <!--<input type="text" [(ngModel)]="user.userStatus" placeholder="User Status" name="userStatus" class="form-control" id="userstatus" (focusout) = "focusoutHandlerUserStatus($event)">-->
                                      <p-dropdown [style]="{'width': '285px'}"  [options]="userStatus"   [ngModelOptions]="{standalone: true}"  [(ngModel)]="user.userStatus" name="userStatus"></p-dropdown>
                                   </div>
                                   <div class="col-sm">
                                     
                                   </div>
                                </div>   
                            </div>

                            
                        </div>
                        <!-- /.card-body -->
        
                         <div class="card-footer" > 
                            <button class="btn btn-sm  btn-info" *ngIf="!user.Id" (click)="createEmployee()"><b>Create</b></button>
                             
                          <button  class="btn btn-sm btn-info"  *ngIf="user.Id"  (click)="update(user)"><b>Update</b></button>&nbsp;
                           
                          <button  class="btn btn-sm btn-info"  *ngIf="user.Id"  (click)="delete(user)"><b>Delete</b></button>&nbsp;

                          <button class="btn btn-sm btn-info"  (click)="reset(myForm);"><b>Reset</b></button>
                        </div>
                      </form> 
                     
                    </div>
                </div>
            </div>
            <app-user-info></app-user-info>
            
        </div>
        
        </section>
      </section>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>