<div class="wrapper">

 <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar> 

  <div class="content-wrapper">
    <img src="../../../../assets/images/dashboard.jpg" alt="IMG" style="width:100%;height:80%;">
    <!-- <section class="content-header">
      <section class="content">

        
      </section>
    </section> -->
  </div>
  <app-footernavbar></app-footernavbar>
</div>
<!-- ./wrapper -->
