<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/images/frontImg.png" alt="IMG">
      </div>

      <form class="login100-form validate-form" #f="ngForm" name="myForm">
        <span class="login100-form-title">
          Member Login
        </span>

        <div class="wrap-input100 validate-input">


          <input class="input100" type="text" id="username" name="username" placeholder="username" required [(ngModel)]="User.userId"
            (blur)="userNameEmptyCheck()" (click)="onLoggedin()" />

          <span class="focus-input100" ng-show="!myForm.User.userId.$valid"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>




        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" id="password" name="password" placeholder="Password" required [(ngModel)]="User.password"
            (blur)="passwordEmptyCheck()" (keyup.enter)="onLoggedin()" />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="container-login100-form-btn">
          <a class="btn rounded-btn" class="login100-form-btn" (click)="onLoggedin()"> Log in </a>

        </div>

        <div class="text-center p-t-12">
          <span class="txt1">
            Forgot
          </span>
          <a class="txt2" href="#">
            Username / Password?
          </a>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" (click)="showMaximizableDialog()">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>

      <p-dialog header="Registration" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
        [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        
        
        
        <div class="main-login main-center">
          <div class="input-group mb-3 cols-sm-10">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            </div>
            <input type="text" [(ngModel)]="registerUser.userId"  class="form-control" placeholder="UserId" aria-label="UserId" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3 cols-sm-10">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            </div>
            <input type="text" [(ngModel)]="registerUser.userName"  class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3 cols-sm-10">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa" aria-hidden="true"></i></span>
            </div>
            <input type="password" [(ngModel)]="registerUser.password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3 cols-sm-10">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa 
                fa-envelope fa" aria-hidden="true"></i></span>
            </div>
            <input type="text" [(ngModel)]="registerUser.email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3 cols-sm-10">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa 
                fa-phone fa" aria-hidden="true"></i></span>
            </div>
            <input type="text" [(ngModel)]="registerUser.phone" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3 cols-sm-10">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa 
                fa-id-card fa" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="registerUser.nid" placeholder="NID" aria-label="NID" aria-describedby="basic-addon1">
          </div>
    
          <div class="input-group mb-3 cols-sm-10">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa 
                fa-intersex fa" aria-hidden="true"></i></span>
            </div>
            <select class="form-control" [(ngModel)]="registerUser.gender" name="gender" id="gender"  placeholder="Select Gender">
              <option value="">Select Gender</option>
              <option  value="M">Male</option>
              <option  value="F">Female</option>
              <option  value="O">Others</option>
              </select>
          </div>

         
                <div class="form-group ">
                  <button type="button "  (click)="register(this.registerUser)" class="btn btn-primary btn-lg btn-block login-button ">Submit</button>
                </div>
            </div>
             
      </p-dialog>
      


    </div>
  </div>
</div>

  <p-toast key="toast "></p-toast>