<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search..."
        (input)="dvsearch.filterGlobal($event.target.value,'contains')">
        <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
<p-table #dvsearch [value]="bookList" [paginator]="true" [rows]="5" [responsive]="true" [globalFilterFields]="['bookName','ownerName']">
    <ng-template pTemplate="header">
        <tr>
            <th >Name </th>
            <th>Image</th>
            <th>Owner</th>
            <th >Status </th>
            <th style="width:4em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.bookName}}</td>
            <td> <img src="data:image/jpeg;base64,{{product.image}}" style="display:inline-block;margin:2px 0 2px 2px" width="48"/></td>
            <td>{{product.ownerName}}</td>
            <td>{{product.status}}</td>
            <td>
                <button type="button" pButton  (click)="selectProduct(product)"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </td>
        </tr>
    </ng-template>
</p-table>
