  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="" class="nav-link">Home</a>
      </li>
      
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <div class="input-group-append">
          <button type="button" (click)="show()" pButton icon="pi pi-info-circle" label="Show"></button>
          <!-- <p-dropdown [options]="books"   filter=true [(ngModel)]="book" [ngModelOptions]="{standalone: true}" placeholder="Search" >

            <ng-template  let-product pTemplate="item">
              <div>
                  <img src="data:image/jpeg;base64,{{product.image}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                  <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{product.bookName}} - {{product.ownerName}}</div>
              </div>
          </ng-template>

          </p-dropdown> -->
          
        </div>
      </div>
    </form>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      
      <!-- Notifications Dropdown Menu -->
  
      <li class="nav-item dropdown">
          <button (click)="onLoggedout()" pButton pRipple type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-info">
            
          </button>

      </li>
    </ul>
    

  </nav>
  <!-- /.navbar -->

 